@model IEnumerable<ORCA.Models.User>

@{
    ViewBag.Title = "AdminPromote";
}

<h2>AdminPromote</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.IsAdmin == false)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>

        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="hidden" value="@item.Email" name="Email" />
                <input type="submit"/>
            }
        </td>
    </tr>
    }
}

</table>
