@model ORCA.Models.IndexViewModel
    @using Microsoft.AspNet.Identity
@{
    ORCA.Controllers.ManageController thing = new ORCA.Controllers.ManageController();
    String email = User.Identity.GetUserName();
    String type = thing.getUserType(email);
    Boolean isAdmin = thing.getIsAdmin(email);

    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Edit/Add User Information:</dt>
        <dd>
            @Html.ActionLink("Here", "EditAccount")
        </dd>

        @if(type.Equals("user"))
        {
        <dt>Request to become Expert:</dt>
        <dd>
            @Html.ActionLink("Here", "ExpertRequest")
        </dd>
        }

        @if (isAdmin == true)
        {
        <dt>View List of Expert Requests:</dt>
        <dd>
            @Html.ActionLink("Here", "VerifyExpert")
        </dd>

        <dt>Promote Account to Admin:</dt>
        <dd>
            @Html.ActionLink("Here", "AdminPromote")
        </dd>
        }

        

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        
        
    </dl>
</div>
