@model IEnumerable<ORCA.Models.Expert>
    @using Microsoft.AspNet.Identity

@{
    ORCA.Controllers.ManageController thing = new ORCA.Controllers.ManageController();
    String email = User.Identity.GetUserName();
    String type = thing.getUserType(email);
    Boolean isAdmin = thing.getIsAdmin(email);

    ViewBag.Title = "VerifyExpert";
}

<h2>VerifyExpert</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>


@if (isAdmin == true)
{
    foreach (var item in Model)
    {
        String itemsEmail = item.Email;
        String itemsType = thing.getUserType(itemsEmail);
        if (item.Requested == true && itemsType.Equals("user"))
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="@item.Email" name="Email" />
                <input type="submit"/>
            }
        </td>

        
    </tr>
        }
    }
}

</table>
